.result {
    background-color: rgba(0, 128, 0, 0.5); /* Color verde con transparencia */
    border: 1px solid #d1d5da;
    font-weight: bold;
    padding: 16px;
    margin-top: 16px;
    margin-bottom: 16px;
    border-radius: 6px;
    font-family: Consolas, "Courier New", monospace;
    font-size: 14px;
    line-height: 1.6;
    transition: all 0.5s ease;
}

.result:hover {
    background-color: rgba(0, 128, 0, 0.7); /* Más opaco al pasar el mouse */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para dar profundidad */
}

form {
    margin-top: 20px;
    margin-bottom: 20px;
}
