html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.container {
  flex: 1;
  width: 80%;
  margin: auto;
  overflow: hidden;
  padding-bottom: 30px;
}

header {
  background: #474a8a;
  color: white;
  padding-top: 30px;
  min-height: 70px;
  border-bottom: #e8491d 3px solid;
}
header a {
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}
header ul {
  padding: 0;
  list-style: none;
  text-align: center;
}
header li {
  display: inline;
  margin: 0 20px;
}
header #branding {
  float: left;
}
header #branding h1 {
  margin: 0;
}
header nav {
  float: right;
  margin-top: 10px;
}
header .highlight,
header .current a {
  color: #e8491d;
  font-weight: bold;
}
header a:hover {
  color: #ffffff;
  font-weight: bold;
}

footer {
  background: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
  margin-top: auto;
  z-index: 99999999;
}

footer p {
  margin: 0;
}

input[type='submit'] {
  background-color: #4c4cff; /* Color de fondo */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 5px; /* Bordes redondeados */
  font-family: 'Arial', sans-serif; /* Tipografía */
}

input[type='submit']:hover {
  background-color: #3c3cff;
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.home-section {
  background-color: #fff;
  padding: 20px;
  margin: 20px 0;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.home-section h1 {
  color: #333;
  margin-bottom: 16px;
}

.home-section p {
  color: #666;
  line-height: 1.6;
  margin-bottom: 10px;
}

/* Error */
.error-container {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.error-container h1 {
  color: #e94948; /* Color rojo para el mensaje de error */
  margin-bottom: 20px;
}

.error-container p {
  color: #6d6d6d; /* Color gris para la explicación */
  margin-bottom: 20px;
}

.error-container a {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 20px;
  border: 1px solid #e94948; /* Borde rojo */
  background-color: #fff;
  color: #e94948;
  text-decoration: none;
  border-radius: 4px;
  transition: all 0.3s ease;
}

.error-container a:hover {
  background-color: #e94948;
  color: #fff;
}

.code-editor {
  border-radius: 5px;
  overflow: hidden;
  font-size: 14px;
  line-height: 1.5;
}

.code-header {
  background-color: #333333;
  color: #ffffff;
  padding: 10px;
  font-size: 16px;
}

.code-content {
  background-color: #1e1e1e;
  color: #ffffff;
  margin: 0;
  padding: 20px;
  white-space: pre-wrap;
}
